*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
  float: left;
  padding: 15px;
  border: none;
}

.row::after{
    content:"";
    clear:both;
    display: table;
}

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(245,245,245);
}

.header{
    background-color: rgb(245,245,245);
    text-align: right;
    font-size: 13px;
    padding: 5px;
}

.header a{
    text-decoration: none;
    color: black;
}

.header a:hover{
    text-decoration: underline;
}

.header ul{
    list-style-type: none;
    text-align: right;
    overflow: hidden;
    padding-right: 87px;
}

.header li{
    display: inline-block;
    padding: 0 5px 0 5px;
}

.header li button{
    border:none;
    outline:none;
    text-align: center;
    text-decoration: none;
    background-color: rgb(245,245,245);
    padding:5px;
    font-size: 13px;
}

.header li button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.navbar{
    background-color: rgb(191, 191, 191);
}

.navbar ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li{
    height: 30px;
}

.navbar a{
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.navbar a:hover{
    color:white;
    background-color: black;
}

.navbar input[type="text"]{
    border:none;
    padding: 10px 0 10px 5px;
    width: 90%;
}

.hamburgermenu{
    float: right;
    position: absolute;
    visibility: hidden;
}

.searchbutton{
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    float: right;
    width:39px; 
    height:35px;
    position: absolute;
}

.searchbutton img{
    width:20px; 
    height:20px;
}

.banner{
    margin:0;
    padding:0;
}

.banner img{
    width: 100%;
    height: auto;
    max-height: 545px;
}

.news{
    margin: 0;
    padding: 1px;
    overflow: hidden;
}

.news img{
    width: 100%;
    height:auto;
    max-height: 300px;
}

footer{
    text-align: center;
    font-size: 13px;
}

footer a{
    text-decoration: none;
    color: blue;
}

footer a:hover{
    text-decoration: underline;
}

footer a:visited{
    color: blue;
}

.helpsubnav{
    display: inline-block;
    text-align: left;
}

.helpsubnav-Content{
    display: none;
    position: absolute;
    left: 0;
    top: 75px;
    background-color: #f1f1f1;
    z-index: 1;
}

.helpsubnav-Content p{
    float: left;
    color: black;
}

.helpsubnav:hover .helpsubnav-Content{
    display: block;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: right;
  }

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav input[type="text"]{
    display: inline-block;
    padding: 10px 5px 10px 0;
    width: 87%;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    margin-left: 10px;
}

.dropdowncontainer{
    display: block;
    
}

.sidedrop-Content{
    display: none;
    position: absolute;
    color: white;
}
@media only screen and (max-width: 600px){
    .hide{
        display: none !important;
    }
    
    .header{
        visibility: hidden;
        height: 0;
        padding: 0;
        margin: 0;
    }

    .navbar ul{
        justify-content: flex-end;
    }

    .navbar li:first-child{
        margin-right: auto;
    }

    .navbar img{
        display: flex;
    }

    .navbar input[type="text"]{
        visibility: hidden;
    }

    .searchbutton{
        background-color: rgb(191, 191, 191);
        display: inline-block;
        position: absolute;
        right: 50px;
    }

    .hamburgermenu{
        visibility: visible;
        display: flex;
        cursor: pointer;
    }

    .hiddenresponsive a{
        display: none;
    }

    .hiddenresponsive button{
        display: none;
    }
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
    }

/*To continue hiding my shamefully nonresponsive navbar*/
@media only screen and (max-width: 800px){
    .news{width: 100%; height: auto;}
}